body{
    background: #bd0012;
    background: radial-gradient(circle, #bd0012 0%, #000000 100%);
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    cursor: url(https://cdn.custom-cursor.com/db/pointer/32/Basketball.png) 4 16, auto;
}
.inscription,.inscription>*,.inscription>*>*,.inscription>*>*>*{
    cursor:default;
}
p,label,li,h3{
    font-size: 1vw;
}
h2{
    font-size: 2vw;
}
.text{
    width: 45%;
}
header{
    display: flex;
    margin-left: 10vmin;
    margin-right: 10vmin;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

section{
    margin-left: 15vw;
    margin-right: 15vw;
}
.logo{
    width: 10%;
    height: 10%;
}
.jordan{
    width: 50%;
    margin-right: -70%;
    height: auto;
}
article{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.desc>*{
    display: inline-block;
}
.street{
    width: 30vmax;
    height: auto;
}
.concurs{
    display: block;
}
.concurs>article{
    display: flex;
}
.liga>img{
    width: 30vmax;
}
.concurs>article>img{
        width: 30vmax;
    }
.prizes>article{
    display: block;
}

li::before{
    content: 'º - ';
    position: relative;
    left: -.4vw;
}
#basket{
    width: 5%;
    transform: scaleX(-1);
    float: right;
    margin-left: 95%;
    position:fixed;
    
}

form>input,select,select>option,button{
    color: #000000;
}
#niv{
    display: none;
}
form{
text-align: center;
}
input,button,select{
    font-size: 1vw;
    width: 10vw;
    margin: 1vmin;
    height: 1.5vw;
}
input,select{
    margin-right: 9vmin;
    margin-bottom: 4vmin;

}

@media (max-width:800px) {
    #basket{
        display: none;
    }
    p,label,li,h3{
        font-size: 2vw;
    }
    h2{
        font-size: 4vw;
    }


    li::before{
        content: 'º - ';
        position: relative;
        left: -1vw;
    }
    input,button,select{
        font-size: 2vw;
        width: 50vw;
        margin: 1vmin;
        height: 2.5vw;
    }
    input,select{
        margin-right: 9vmin;
        margin-bottom: 4vmin;
    
    }
}
@media (max-width:620px) {
    p,label,li,h3{
        font-size: 2.5vw;
    }
    h2{
        font-size: 5vw;
    }
    input,button,select{
        font-size: 2.5vw;
        width: 65vw;
        margin: 1vmin;
        height: 3vw;
    }
    input,select{
        margin-right: 9vmin;
        margin-bottom: 4vmin;
    
    }
    li::before{
        content: 'º - ';
        position: relative;
        left: -1vw;
    }
    form>*{
        display: block;
        text-align: left;
    }
    form>*>*{
        display: block;
        text-align: left;
    }
}